Source: modbus-utils
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config, libmodbus-dev
Homepage: https://github.com/wirenboard/modbus-utils

Package: modbus-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmodbus5
Description: Modbus client and server command line tools based on libmodbus
